html {
  box-sizing: border-box;
  
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body {
  height: 100%;
}

body {
	background: url("Images/background-gradiant.png") no-repeat; 
	background-size: cover;
	text-align: center;
	margin:0;
   padding:0;
   height:100%;
	
}

/*Displays an element in the center of the page*/
.center {
	display: block;
	margin: auto;
}

/*Removes Margin*/
.remove {
	margin-left: -0.8vw;
	margin-right: -0.8vw;
}

/*
Navigation Bar*/
#sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
	z-index: 100;
}

.navbar {
	opacity: 0.85;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
  	margin: 0;
}
.navbar img {
	background: #FFFFFF;
	padding: 0.2vw;
	vertical-align: text-bottom;
}

.navbar img:hover {
	background-color: #909090;
}

.nav_txt {
	text-decoration: none;
	color: rgba(35,35,35,1.00);
	background-color: rgba(220, 220, 220,.70);
	flex-grow: 1;
	font-family: 'Ubuntu', sans-serif;
	padding: 0.2vw;
}

.nav_txt:hover {
	background-color: rgba(102,102,102, 0.7);
	color: white;
	text-decoration: none;
}

/*
Image Carousel*/
.carousel {
	margin-top: -0.5vw;
}



/* 
Socials Bar*/
.socials {
  background-color: rgba(220, 220, 220,.50);
  width: 100%;
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
/*  z-index: 2;*/
}

.socials img {
  transition: transform .5s;
  opacity: 0.9;
}
.socials img:hover {
  transform: scale(1.3);
  opacity: 1;
}

#discord {
	background: grey;
	border-radius: 1vw;
}

/*
About Me*/
.about-me {
	color: white;
}

.about-me h1{
	font-size: 6.8vw;
	text-align: center;
	letter-spacing: 0.08vw;
/*	font-family: 'Permanent Marker', cursive;*/
	font-family: 'Rubik', sans-serif;
}

.text h2{
	font-family: 'Dosis', sans-serif;
	font-size: 5vw;
}

.text h3{
	font-family: 'Dosis', sans-serif;
	font-size: 3.2vw;
}

.about-me-row {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
}

#codingPicture {
	width: 38vw;
	margin: 1.5vw;
	margin-top: 0.5vw;
}

#about-me-image2 {
	width: 38vw;
	margin: 1.5vw;
}

.text {
	flex-grow: 1;
	text-align: center;
	margin-right: 2vw;
}

.text p {
	font-family: 'Ubuntu', sans-serif;
}

.side-by-side-container {
  display: grid;
  grid-template-columns: auto auto;
}

/* 
Footer */
footer {
  width: 100%;
  height: 7vw;
  background: #353535;
}

.footer-content-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  margin: 0;
}

.footer_text {
	text-align: center;
	color: white;
    font-size: 1vw;
}

#contact_info {
	font-size: 1.8vw;
	margin: 0;
	padding-top: 0.4vw;
}

#phone_email {
	font-size: 0.9vw;
	margin-bottom: 0.3vw;
	margin-top: 0.1vw;
}

#copyright {
	font-size: 0.55vw;
	color: #A4A4A4;
	font-style: italic;
	padding-bottom: 0.4vw;
}

footer img {
  width: 5.4vw;
  transition: transform .5s;
  opacity: 0.8;
  padding-bottom: 1.2vw;
}

footer img:hover {
  transform: scale(1.2);
  opacity: 1;
}
@media (min-width: 1150px) {
	.carousel-caption h5 {
		font-size: 1.2vw;
	}

	.carousel-caption p {
		font-size: 1vw;
	}
	.carousel-indicators {
		width: 70vw;
		visibility: visible;
	}
	.header img{
		height: 12vw;
		width: 24vw;
	}
	.nav_txt {
		font-size: 2.5vw;
	}
	.navbar img {
		width: 4.1vw;
		height: 4.1vw;
	}
	.text p {
		font-size: 2vw;	
	}
	.carousel img {
		height: 35vw;
	}
.socials {
  height: 5vw;
  }

.socials img {
	height: 5vw;
}
#discord {
	width: 4vw;
	height: 4vw;
}

}

@media (max-width: 1150px) {
	.carousel-caption {
		background: rgba(255,255,255,0.40);
		height: 35vw;
		width: 20%;
		padding-top: 0;
	}
	.carousel-caption h5 {
		padding: 2vw;
		font-size: 3vw;
		margin-bottom: 0;
		padding-bottom: 0.5vw;
		color: #1b1b1b;
	}
	.carousel-caption p {
		margin-top: 0;
		padding-top: 0;
		font-size: 2.6vw;
		color: #1b1b1b;
	}
	.carousel-indicators {
		visibility: hidden;
	}
	.header img{
	height: 18vw;
	width: 36vw;
	}
	.nav_txt {
		font-size: 3.8vw;
	}
	.navbar img {
	width: 6vw;
	height: 6vw;
	}
	.text p {
	font-size: 3vw;	
	}
	.carousel img {
		height: 63vw;
	}
	.socials {
 		 height: 12vw;
  	}

	.socials img {
		height: 12vw;
	}
	#discord {
		width: 10vw;
		height: 10vw;
		border-radius: 2.2vw;
	}
}